@import "tailwindcss";

@font-face {
    font-family: 'DVN';
    src: url('/public/font/DVN_GUSTAVO_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DVN';
    src: url('/public/font/DVN_Gustavo_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DVN';
    src: url('/public/font/DVN_Gustavo_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'DVN', sans-serif;
}

@theme {
    --animate-button: button 6.5s ease-in-out forwards infinite;
    --font-dvn: "DVN", sans-serif;

    @keyframes button {
        0% {
            transform: translateY(-600%);
        }

        27.27% {
            /* ~1.5s / 5.5s = 27.27% */
            transform: translateY(600%);
        }

        100% {
            transform: translateY(600%);
            /* giữ nguyên trong 4s */
        }
    }
}